$main-color: #404040
$addColor: #67d352
$white: #fafafa
$whiter: #fff
$grey: #bbb

.main
	background: $white
	margin: 0 auto
	padding: 3rem 2rem
	display: flex
	flex-wrap: wrap
	@media (max-width: 767px)
		flex-direction: column
	&__photo
		display: flex
		align-items: flex-start
		justify-content: center
		flex: 0 0 42%
		max-width: 42%
		@media (max-width: 767px)
			max-width: 100%
		&__img
			max-width: 400px
			border-radius: 50%
	&__text
		padding: 3rem
		flex: 0 0 58%
		max-width: 625px
		@media (max-width: 767px)
			flex-basis: 100%
		&__heading
			padding: 0 0 2rem 3rem
			font-size: 34px
			font-weight: 400
	&__social
    padding: 0
    display: flex
    &__icon
      font-size: 16px
      margin-right: 10px
      color: $grey