//Base page css settings
$main-color: #404040

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;500;700&display=swap');

*
  box-sizing: border-box

ul, li
  list-style: none
  margin-top: 0

a
	text-decoration: none
	color: #FFF

h1, h2, h3, h4, h5, h6
	font-family: "Playfair Display", serif
	font-weight: 400

img
  height: auto
  width: auto

body
	margin: 0
	font-family: "Poppins", Arial, Helvetica, sans-serif
	font-size: 100%
	font-weight: 300
	color: $main-color

.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto
//Navbar needs to be improved
.navbar
    display: flex
    align-items: center
    background: transparent
    position: absolute
    right: 0
    left: 0
    top: 20px
    z-index: 3
    padding: 0

.navbar__container
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: nowrap

.navbar--extend
    flex-flow: row nowrap
    justify-content: flex-start

.menu
    display: flex
    flex-grow: 1
    align-items: center
    flex-basis: auto
    flex-direction: row

.menu__nav
    display: flex
    padding-left: 0
    margin-bottom: 0
    list-style: none
    margin-left: auto

.menu__nav__link
    display: block
    font-size: 0.85em
    padding: .8rem 20px
    font-weight: 300
    &:hover
        opacity: 0.8

.footer
	font-size: 14px
	background: #fa6b7b
	padding: 6em 0 4em 0
	&__wrapper
		margin: 0 10%


//Additional styles
.subheading
	font-family: "Poppins", Arial, Helvetica, sans-serif
	font-weight: 600
	font-size: 13px
	display: block
	margin-bottom: 0
	text-transform: uppercase
	letter-spacing: 2px
	color: #bbbbbb

.img
	display: block
	height: 270px
	background-size: cover
	background-repeat: no-repeat
	background-position: center

.nodis
	display: none