//Base page css settings
$main-color: #404040
$addColor: #67d352
$white: #fafafa
$whiter: #fff

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;500;700&display=swap');

*
  box-sizing: border-box

ul, li
  list-style: none
  margin-top: 0

a
	text-decoration: none
	color: #FFF

h1, h2, h3, h4, h5, h6
	font-family: "Playfair Display", serif
	font-weight: 400

body
	margin: 0
	font-family: "Poppins", Arial, Helvetica, sans-serif
	font-size: 100%
	font-weight: 300
	line-height: 1.8
	color: $main-color

.container
	width: 100%
	padding: 0 15px
	margin: 0 auto

.navbar
	display: flex
	align-items: center
	background: transparent
	position: absolute
	right: 0
	left: 0
	top: 20px
	z-index: 3
	padding: 0
	&__wrapper
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: nowrap
	&--extend
		flex-flow: row nowrap
		justify-content: flex-start
		&-scrolled
			margin-top: -130px
		&-fixed
			position: fixed
			top: 0
			margin-top: 0px
			background: $whiter
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
			transition: .3s all ease-out

.menu
	display: flex
	flex-grow: 1
	align-items: center
	flex-basis: auto
	flex-direction: row
	&__nav
		display: flex
		padding-left: 0
		margin-bottom: 0
		list-style: none
		margin-left: auto
		&__link
			display: block
			font-size: 0.85em
			padding: .8rem 20px
			&:hover
				opacity: 0.8
			&--active
				color: rgb(187, 187, 187)
			&--dark
				padding: 15px 20px 
				color: #000

.footer
	font-size: 14px
	background: #fa6b7b
	padding: 6em 0 2em 0
	&__wrapper
		margin: 0 10% 1rem 10%
		display: flex
		flex: wrap
		&__column
			flex-basis: 0
			flex-grow: 1
			margin-bottom: 1.5rem
			padding: 0 1rem
			color: $whiter
			&--grid-center
				display: grid
				justify-content: center
			h2
				font-size: 1.4em
				margin-bottom: 2.5rem
			p, a
				opacity: 0.7
			a:hover
				opacity: 1
			ul, li
				padding: 0 0 10px 0
				display: table
				span
					display: table-cell
				.icon
					width: 40px
					font-size: 15px
					padding-top: 2px
					color: $whiter
					opacity: 1
			&__social
				position: relative
				width: 50px
				height: 50px
				display: inline-block
				margin: 10px 10px 0 0 
				border-radius: 50%
				background: rgba(255, 255, 255, 0.05)
				color: $whiter
				font-size: 26px
				span
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
	&__author
		display: table
		margin: 0 auto
		color: $whiter
		opacity: 0.7
		p
			padding: 0 1rem
			text-align: center

.hero
	height: 60vh
	position: relative
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	&__title
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		h1
			color: $whiter
			font-family: "Poppins", Arial, sans-serif
			font-size: 35px
			font-weight: 700



//Additional styles
.container
	@media (min-width: 567px)
		max-width: 540px
	@media (min-width: 768px)
		max-width: 720px
	@media (min-width: 992px)
		max-width: 960px
	@media (min-width: 1200px)
		max-width: 1140px

.subheading
	font-family: "Poppins", Arial, Helvetica, sans-serif
	font-weight: 600
	font-size: 13px
	display: block
	margin-bottom: 0
	text-transform: uppercase
	letter-spacing: 2px
	color: #bbbbbb

.img
	display: block
	height: 270px
	background-size: cover
	background-repeat: no-repeat
	background-position: center

.nodis
	display: none