$main-color: #404040
$addColor: #67d352
$white: #fafafa
$whiter: #fff
$grey: #bbb
$lightGrey: #e6e6e6
$darkGrey: #595858

@mixin mobile-view
  @media (max-width: 767px)
    position: relative
    width: 100%
    min-height: 1px

