$main-color: #404040
$addColor: #67d352
$white: #fafafa
$whiter: #fff
$grey: #bbb
$lightGrey: #e6e6e6
$darkGrey: #595858

@mixin mobile-view
  position: relative
  width: 100%
  min-height: 1px

.main
  margin: 0 auto
  padding: 4em 1em
  &__prices
    display: flex
    flex-wrap: wrap
    align-items: end
    &__column
      @include mobile-view
      @media (min-width: 768px)
        flex: 0 0 33.3%
      padding: 0 15px
      h2
        font-size: 35px
      &__text
        text-align: center
        &__details
          border-top: 1px solid $lightGrey
          padding-top: 15px
          display: flex
          align-items: center
          justify-content: space-around
          &--bold
            font-size: 22px
            font-weight: 400
            color: $darkGrey
            small
              font-size: 13px
              color: $grey
  &__terms
    padding: 20px 0
    text-align: center
    color: $grey
    bold
      font-weight: 400
      color: $darkGrey
      text-decoration: underline

.service
  padding: 6em 1em
  background: $white
  &__wrapper
    display: flex
    flex-wrap: wrap
    &__column
      @include mobile-view
      @media (min-width: 768px)
        padding: 0 15px
        flex: 0 0 33.3%
      font-size: 1.5rem
      &__text
        font-size: 1rem
        ul
          padding-left: 0

