$main-color: #404040
$addColor: #67d352
$white: #fafafa
$whiter: #fff
$grey: #bbb

.main
  margin: 0 auto
  padding: 4em 1em
  &__text
    max-width: 70%
    margin: 0 auto
    &__heading
      font-size: 2rem