@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.8;
  color: #404040;
  background: #fff;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  z-index: 3;
  padding: 0;
}

@media (max-width: 768px) {
  .navbar {
    top: 0;
    background: #fff;
  }
}

.navbar__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navbar__wrapper__logo {
  padding: 5px 0;
}

.navbar__wrapper__brand {
  font-weight: 700;
  font-size: 20px;
  color: #111;
  padding: 5px 0;
}

.navbar__wrapper__btn {
  border: none;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar__wrapper__btn {
    display: none;
  }
}

.navbar--extend {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar--extend-scrolled {
  margin-top: -130px;
}

.navbar--extend-fixed {
  position: fixed;
  top: 0;
  margin-top: 0px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.menu__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .menu__nav {
    display: none;
    width: 100%;
  }
}

.menu__nav__link {
  display: block;
  font-size: 0.85em;
  padding: .8rem 20px;
}

@media (max-width: 768px) {
  .menu__nav__link {
    color: #000;
  }
}

.menu__nav__link:hover {
  opacity: 0.8;
}

.menu__nav__link--active {
  color: #bbbbbb;
}

.menu__nav__link--dark {
  padding: 15px 20px;
  color: #000;
}

.footer {
  font-size: 14px;
  background: #fa6b7b;
  padding: 6em 0 2em 0;
}

@media (max-width: 767px) {
  .footer__wrapper {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: wrap;
        -ms-flex: wrap;
            flex: wrap;
  }
}

.footer__wrapper__column {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1.5rem;
  color: #fff;
}

@media (min-width: 768px) {
  .footer__wrapper__column--grid-center {
    text-align: center;
  }
}

.footer__wrapper__column h2 {
  font-size: 1.4em;
  margin-bottom: 40px;
}

.footer__wrapper__column p, .footer__wrapper__column a {
  opacity: 0.7;
}

.footer__wrapper__column a:hover {
  opacity: 1;
}

.footer__wrapper__column ul, .footer__wrapper__column li {
  padding: 0 0 10px 0;
}

.footer__wrapper__column ul span, .footer__wrapper__column li span {
  display: table-cell;
}

.footer__wrapper__column ul .icon, .footer__wrapper__column li .icon {
  width: 40px;
  font-size: 15px;
  padding-top: 2px;
  color: #fff;
  opacity: 1;
}

.footer__wrapper__column__social {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px 10px 0 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 26px;
}

.footer__wrapper__column__social span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__author {
  display: table;
  margin: 0 auto;
  color: #fff;
  opacity: 0.7;
}

.footer__author p {
  padding: 0 1rem;
  text-align: center;
}

.hero {
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__title h1 {
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 35px;
  font-weight: 700;
}

@media (min-width: 567px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.subheading {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bbbbbb;
}

.img {
  display: block;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nodis {
  display: none;
}

.dispblock {
  display: block;
}
/*# sourceMappingURL=base.css.map */